:root {
  --color-gold: rgb(205, 186, 76);
  --color-blue: rgb(86, 86, 219);
  --color-purple: rgb(206, 64, 206);
  --color-green: rgb(55, 212, 55);
  --color-gray: gray;
  --color-red: red;
  --color-orange: orange;
  --color-black: rgb(29, 24, 24);
}
h1
{
  text-align: center;
    border: 1px solid black;
    width: 50%;
    margin: 18px 25%;
    border-radius: 5px;
    padding: 10px;
}

.container-calculation {
  display: flex;
  justify-content: space-between;
}

button {
  font-family: Arial;
  color: #14396A !important;
  font-size: 14px;
  text-shadow: 1px 1px 0px #7CACDE;
  box-shadow: 1px 1px 1px #BEE2F9;
  padding: 10px 25px;
  border-radius: 10px;
  border: 2px solid #3866A3;
  background: #63B8EE;
  background: linear-gradient(to top, #63B8EE, #468CCF);
  cursor: pointer;
}

button:hover {
  color: #14396A !important;
  background: #468CCF;
  background: linear-gradient(to top, #468CCF, #63B8EE);
}

body {
  margin: auto;
  color: #fff;
  padding: auto;
  background: linear-gradient(to bottom, rgba(255, 0, 0, 0.5), rgb(205, 186, 76, 0.8), rgb(86, 86, 219, 0.8), rgb(206, 64, 206, 0.8), rgb(55, 212, 55, 0.8), gray, red, orange, rgb(29, 24, 24));
}


.full-container {
  position: relative;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 100;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  transition: ease 3s;
} 

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  transition: ease 4s;
  justify-content: space-between;
}

.apartment {
  margin: 0 0 10px 0px;
  width: 100%;
  height: 150px;
  border-radius: 4px;
  cursor: pointer;
  transition: ease 1s;
  color: #fff;
}

.apartment:hover {
  padding: 4px;
}

.color-gold {
  margin: 0 0 10px 0px;
  width: 100%;
  height: 140px;
  border-radius: 4px;
  cursor: pointer;
  transition: ease 1s;
}

.column h2 {
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.column h2:hover {
  color: #ff4500;
  text-decoration: underline;
  cursor: pointer;
}

#columnA  h2
{
  height: 0;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.color-gold {
  background-color: var(--color-gold);
}

.color-blue {
  background-color: var(--color-blue);

}

.color-purple {
  background-color: var(--color-purple);
}

.color-green {
  background-color: var(--color-green);
}

.color-gray {
  background-color: var(--color-gray);
}

.color-red {
  background-color: var(--color-red);
  height: 122px;
}

.color-orange {
  background-color: var(--color-orange);
  height: 122px;
}

.color-black {
  background-color: var(--color-black);
}

span {
  background: #fff;
  margin: 3px 0 -12px 0;
}

.coulware {
  border: 2px black solid;
  margin: 15% 0 10px 0;
  border-radius: 5px;
  width: 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: repeating-linear-gradient(45deg, black, transparent 100px);
}

.selected {
  opacity: 0.5;
  border: #14396A solid 2px;
}

#totalMoneyContainer {
  width: 100%;
  height: 100%;
  background: aliceblue;
  transition: ease 3s;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

#totalMoneyContainer p {
  background-color: #14396A;
  color: wheat;
  width: 30%;
  height: 20px;
  border-radius: 4px;
  text-align: center;
}

h4 {
  font-size: 20px;
  width: 60%;
  height: 40px;
  padding: 0;
  background-color: #14396A;
  color: white;
  margin: 5% 20% 0 20%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  opacity: 0.7;
  cursor: pointer;
}

h4:hover {
  opacity: 1;
}

.hide {
  visibility: hidden !important;
}

.show {
  visibility: visible !important;
}

.staf {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  border: 2px salmon solid;
}

.staf-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.staf-container p {
  font-size: 25px;
}

.staf-container ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.staf-container li {
  margin: 8px 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
